.fondo-status{
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    padding: 100px;
}


.fondo-status .btn-ver button{
    margin-top: 20px;
    padding: 5px 15px;
}

.fondo-status .btn-ver button a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.fondo-status .text-final .linear{
    margin-top: 50px;
    border-bottom: solid 1px #8f8f8f55;
}

.fondo-status .container-evaluation{
    margin: 10px 0;
}

.fondo-status .enlaces{
    margin-top: 60px;
}

@media (max-width: 700px) {
    .fondo-status{
        max-width: 100%;
        margin: 0 auto;
        padding: 40px;
    }

    .fondo-status p, small, a{
        font-size: 12px;
    }
}
